.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# specific static files
/static/animate/d1/l1/opening-closing.html
/static/animate/d1/l1/css-property.html
